SECRET_KEY=f23ufF39-f2iofu2h-f29fohF3-f298h9
TOKEN_REFRESH_END_TTL=2592000
TOKEN_ACCESS_END_TTL=900

AUTH_REDIS_HOST=redis
AUTH_REDIS_ADDR=6379
AUTH_REDIS_PASSWORD=2f2f*Fj39fOF9f32ffwoWWlfVVLaef213ssSfvLL4$$4ijf39233452
AUTH_REDIS_DB=1

HASH_TIME=3
HASH_MEMORY=65536
HASH_THREADS=4
HASH_KEY_LEN=32
HASH_SALT_LEN=16

DB_USER_USERNAME=admin
DB_USER_PASSWORD=23or9vFvW7yXzC6J5kL0pQ2sE8uH3jN1
DB_USER_DB_NAME=auth_user

DB_ACCESS_USERNAME=admin
DB_ACCESS_PASSWORD=FIf2o9if8jF*8f32f02fJFJF9329fjF
DB_ACCESS_DB_NAME=auth_access

CGO_ENABLED=0

VAULT_DEV_SECRET_TOKEN=root
VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
VAULT_DEV_ADDR=http://vault:8200

VAULT_MOUNT=secret

AUTH_TOKEN_PATH=auth/tokens
AUTH_REDIS_PATH=auth/redis
AUTH_HASHER_PATH=auth/hasher

ACCESS_POSTGRES_PATH=access/postgres

USER_POSTGRES_PATH=user/postgres
USER_HASHER_PATH=user/hasher